<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-whatsapp-sticker-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>WhatsAppSticker</name><js-module name="WhatsAppSticker" src="www/WhatsAppSticker.js"><clobbers target="cordova.plugins.WhatsAppSticker" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="WhatsAppSticker"><param name="ios-package" value="WhatsAppSticker" /></feature></config-file><source-file src="src/ios/WhatsAppSticker.m" /></platform></plugin>