<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-whatsapp-sticker-plugin" version="0.0.1">
   <name>WhatsAppSticker</name>

   <js-module name="WhatsAppSticker" src="www/WhatsAppSticker.js">
      <clobbers target="cordova.plugins.WhatsAppSticker" />
   </js-module>

   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="WhatsAppSticker">
            <param name="ios-package" value="WhatsAppSticker" />
         </feature>
      </config-file>

      <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
        <array>
          <string>whatsapp</string>
        </array>
      </config-file>

      <header-file src="src/ios/WhatsAppSticker-Bridging-Header.h" />
      <source-file src="src/ios/WhatsAppSticker.swift" />

      <source-file src="src/ios/Sticker.swift"/>
      <source-file src="src/ios/StickerPack.swift"/>
      <source-file src="src/ios/StickerPackManager.swift"/>
      <source-file src="src/ios/Limits.swift"/>
      <source-file src="src/ios/Interoperability.swift"/>
      <source-file src="src/ios/ImageData.swift"/>
      <source-file src="src/ios/WebPManager.swift"/>

      <header-file src="src/ios/YYAnimatedImageView.h" />
      <source-file src="src/ios/YYAnimatedImageView.m" />
      <header-file src="src/ios/YYFrameImage.h" />
      <source-file src="src/ios/YYFrameImage.m" />
      <header-file src="src/ios/YYImage.h" />
      <source-file src="src/ios/YYImage.m" />
      <header-file src="src/ios/YYImageCoder.h" />
      <source-file src="src/ios/YYImageCoder.m" />
      <header-file src="src/ios/YYSpriteSheetImage.h" />
      <source-file src="src/ios/YYSpriteSheetImage.m" />

   </platform>
</plugin>